
h1, h2, h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2c3e50;
    margin-bottom: 10px;
}

p {
    color: #555555;
    font-size: 16px;
    line-height: 1.5;
}

#titulo-principal {
    color: #8e44ad;
    text-transform: uppercase;
    border-bottom: 3px solid #8e44ad;
    display: inline-block;
    padding-bottom: 5px;
}

.destaque {
    background-color: #870ff1;
    color: #e3eef9;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
    
}

.card-container ul li {
    color: #ae1abf;
    font-weight: bold;
    list-style-type: square;
}

.card-container {
    background-color: #ecf0f1;
    border-left: 5px solid #ae1abf;
    padding: 15px;
    margin: 20px 0;
    border-radius: 4px;
}